<div class="max-width-container-wrap header-outer-wrap">
    <div class="max-width-container header-wrap">
        <div class="links">
            <img src="../../../assets/itau.svg" routerLink="/">
            <span>Abreconta</span>
        </div>
        <div>
            <a mat-icon-button href="https://github.com/gabesclh" matTooltip="Dashboard">
                <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Dashboard">
                    code
                </mat-icon>
            </a>
            <a mat-icon-button href="https://gasco.des.br/" matTooltip="Perfil">
                <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Perfil">
                    account_circle
                </mat-icon>
            </a>
            <a mat-icon-button href="mailto:gabestylik@gmail.com" matTooltip="Login">
                <mat-icon aria-hidden="false" aria-label="Logout">
                    mail
                </mat-icon>
            </a>
        </div>
    </div>
</div>